bs4==0.0.1
Cerberus==1.3.2
fake-useragent==0.1.11
m2r==0.2.1
pandoc==1.0.2
pandocfilters==1.4.2
parse==1.18.0
pyrsistent==0.17.3
simple-back==0.6.1
tornado==6.0.4
trading-calendars==2.0.0
wrapt==1.12.1
